body {
    background-color: rgba(0, 60, 255, 0.496); 
    
    
}

.Section1
{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.282);
    text-shadow: 1px 2px 0cap #e20d0dd3;
    margin: 5px;
    border-color: rgba(0, 0, 0, 0.267);
    border-style:ridge;
    border-width: 10px;
    font-size:large;
    
}
a 
{
    color: rgba(245, 245, 245, 0.89);
    font-weight:lighter
}
.PageSelection
{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.164);
    text-shadow: 2px 3px 0cap #e20d0dd3;
    margin: 20px;
    word-spacing: 40px;
    font-size:200%;
    border-style:dotted;
}

.Words
{
    
    font-size: large;
    text-align: left;
    margin-left: 200px;
    margin-right: 0px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}