body {
    background-color:rgb(250, 145, 145);
    border: 3px;
    border-style:double;
    border-radius: 2px;
}
#header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.Section1
{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.144);
    text-shadow: 2px 3px 0cap #e20d0dd3;
    margin: 10px;
    border-color: rgba(0, 0, 0, 0.267);
    border-style:ridge;
    border-width: 10px;
    font-size:200%
    
}
a 
{
    color: rgba(245, 245, 245, 0.89);
    font-weight:lighter
}
.PageSelection
{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.164);
    text-shadow: 2px 3px 0cap #e20d0dd3;
    margin: 20px;
    word-spacing: 40px;
    font-size:200%;
    border-style:dotted;
}
.BlogStyle1
{
    
    background-color: rgba(2, 2, 2, 0.144); 
    padding: 10px;
    text-shadow: 2px 2px 0cap rgba(255, 255, 255, 0.221);
    text-align: center;
    margin: 100px;
}
.BlogStyle2
{
    margin: 100px;
    background-color: rgba(2, 2, 2, 0.144); 
    padding: 10px;
    text-shadow: 2px 2px 0cap rgba(255, 255, 255, 0.221);
    text-align:center;
    border: 1px;
    border-style: solid;
}